<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenAxes suite">
  <test verbose="2" name="OpenAxes Smoke tests" parallel="classes" thread-count="2">
    <classes>     
	<class name="src.selenium.enterprise.TestIntegrityOfData"/>
	<class name="src.selenium.enterprise.TestUploadFile"/>	
    <class name="src.selenium.enterprise.TestUploadFolder"/>
	<class name="src.selenium.enterprise.TestCreateInvestigation"/>
	<class name="src.selenium.enterprise.TestMailAttachment"/>
	<class name="src.selenium.enterprise.TestEditInvestigation"/>
	<class name="src.selenium.enterprise.TestEditInvestigationWithMediaType"/>
	<class name="src.selenium.enterprise.TestImportAccounts"/>
	<class name="src.selenium.enterprise.TestBlacklistDomain"/>
	<class name="src.selenium.enterprise.TestLockInvestigation"/>
	<class name="src.selenium.enterprise.TestCloseInvestigation"/>	
    </classes>
  </test> 
</suite> 